
html, body {
  margin:0;
  padding:0;
}

#header{
  background-color: #14126a;
  height:10%;
  width:100%;
}

#character_pane{
  position:relative;
  float:left;
  background-color:#98dd6e;
  width:100%;
  height:90%;
}

#info_panel{
  float:right;
  background-color:#b95c40;
  width:0%;
  height:90%;
  overflow:hidden;

}

#info_panel h3 {
  padding:0;
  margin:0;

}

#filter_panel{
  padding:0;
  margin:0;
  background-color:#a040bb;
  width:100%;
}

#content_wrapper{
width:100%;
overflow:visible;

}
.filter_section_wrapper{
  font-size: 10px;

}
.filter_section_wrapper h2{
  padding:0;
  margin:0;

}
.character_circle{
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  background-color:#252e60;
  position:absolute;
}

.character_circle img {
  position:absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}
.tabs a {
  font-size: 10px;
}
.tabs {
  height:40%;
}
.tabs p{
  font-size:12px;
}
