

html, body {
  margin:0;
  padding:0;
  background-color: #517EA5;
  overflow:hidden;
}

#header{
  background-color: #2F2F2F;
  height:10%;
  width:100%;
}

#header-text {
<<<<<<< HEAD
	padding-top: 2%;
	padding-left: 1%;
=======
  padding-top: 2%;
  padding-left: 1%;
>>>>>>> origin/master
	color: white;
	font-size: 22px;
}

#character_pane{
  position:absolute;
  float:left;
  background-color: #517EA5;
  width:100%;
  height:100%;
}

#info_panel{
  float:right;
  background-color: #1F303F;
  color: white;
  width:20%;
  height:100%;
  left:100%;
  overflow:hidden;
  position:absolute;
}

#info_panel h3 {
  padding:0;
  margin:10px 0 10px 0;
  text-align: center;
}

#filter_panel{

  padding:0;
  margin:0;
  background-color:#a040bb;
  width:100%;
}

#content_wrapper{
    background-color: #6ea752;
    height:90%
    position:relative;
}

.ui-accordion-content {
	background: none !important;
	border: none !important;
	background-color: #1F303F !important;
}

.ui-tabs.ui-widget-content {
	background: none !important;
	border: none !important;
	background-color: #2F2F2F !important;
}

.ui-menu.ui-widget-content {
  background: none !important;
  border: none !important;
  background-color: black !important;
}

.ui-menu-item.ui-state-focus {
  background: none !important;
  border: 1px solid #2F2F2F !important;
  background-color: #2F2F2F !important;
}

.ui-tabs-nav.ui-widget-header {
	background: none !important;
	border: none !important;
	background-color: #2F2F2F !important;
}

.ui-state-default {
	background: none !important;
	border: none !important;
	background-color: #517EA5 !important;
}

.ui-state-active {
	background: none !important;
	border: none !important;
	background-color: #2F2F2F !important;
	outline: none;
}

.ui-tabs-anchor:focus {
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.tabs {
	width: 85%;
	margin-left: -42.5%;
  left: 50%;
}

#info_panel h1 {
	text-align: center;
}

button {
  border: 1px solid #517EA5 !important;
  background: none !important;
  background-color: #517EA5 !important;
  padding: 7px 10px;
  margin-top: 5%;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  color: white !important;
}

.ui-accordion-header {
	margin: 0px !important;
	border: 1px solid black !important;
	background: none !important;
	background-color: black !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.ui-corner-top {
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.ui-corner-bottom {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

<<<<<<< HEAD
#content_wrapper{
width:100%;
overflow:visible;

}
=======
>>>>>>> origin/master
.filter_section_wrapper{
  font-size: 10px;
  display:inline;
  float:left;
  margin-left:20px;
}
.filter_section_wrapper h2{
  padding:0;
  margin:0;
  font-size:.75em;

}
.character_circle{
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  background-color: #2F2F2F;
  position:absolute;
  cursor: pointer;
}

.character_circle img {
  position:absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}
.tabs a {
  font-size: 10px;
}
.tabs {
  height:40%;

}
.tabs p{
  font-size:12px;
}
